.button {
   width: 139px;
   height: 28px;
   color: #000000;
   font-family: 'Montserrat';
   font-size: 12px;
   font-weight: 500;
   border: none;
   &__slider {
      width: 162px;
      height: 50px;
      color: #4f525e;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 500;
      border-radius: 5px;
      margin-right: 92px;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
   }
}