@import 'libs/font';
@import 'base/buttons';
// @import 'libs/slick';

body {
   margin: 0 auto;
}

html {
   scroll-behavior: smooth;
   /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}

.container {
   padding: 84px 200px;
   max-width: 1140px;
   margin: 0 auto;
}
@import 'blocks/header.scss';
@import 'blocks/carousel.scss';