.overlay {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   background-color: rgba(0, 0, 0, .56);
   pointer-events: none;
   transition: opacity0 .3s ease-in;
}
.modal {
   position: absolute;
   display: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #eceeee;
   box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
   padding: 45px 75px 32px 75px;
   animation-name: animate;
   animation-duration: 0.5s;
   &__close {
      position: absolute;
      top: 3px;
      right: 10px;
      font-size: 30px;
      cursor: pointer;
   }

   &__subtitle {
      text-align: center;
      color: #000000;
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: 500;
   }
   &__descr {
      text-align: center;
      color: #676971;
      font-family: 'Roboto';
      font-size: 13px;
      font-weight: 400;
      margin-top: 21px;
   }
   &_mini {
      padding: 30px 40px;
   }
}
.feed-form {
   input {
      padding-left: 5px;
      display: block;
      margin: auto;
      width: 431px;
      height: 30px;
      margin-top: 25px;
      border: 1px solid #adabab;
      background-color: #ffffff;
   }
   textarea {
      padding-left: 5px;
      padding-top: 4px;
      height: 78px;
      display: block;
      margin: auto;
      width: 431px;
      height: 30px;
      font-family: 'Roboto';
      margin-top: 25px;
      border: 1px solid #adabab;
      background-color: #ffffff;
      height: 81px;
      display: flex;
      resize: none;
      font-size: 13px;
      font-weight: 500;
   }
}


#order, #thanks {
   display: none;
}


// тест
