.page {
   &__title {
      height: 70px;
      background-color: #b5dcc2;
      display: flex;
      justify-content: center;
      align-items: center;
      .title {
         margin: 0 auto;
         height: 35px;
         width: 125px;
         border-bottom: 2px solid #50525e;
      }
   } 
}